.container{
max-width: 100%;
display: flex;
flex-direction: column;
/* border: 1px solid #d91a8f; */
}
.container_equipes{
    display: flex;
    flex-direction: row;
    /* border: 1px solid #d91a8f; */
    /* background-color: #73AD21; */
}

.container_data{
    display:flex;
    flex-direction: column;
    /* border: 1px solid green; */
    align-items: center;
}

.table_equipe{
    max-width: 30%;
    padding:4px;
    margin: 13px;
    /* border: 1px solid black; */
}
.moyennes{
    margin: auto;
    /* background-color: red; */
}
.tableau{
    max-width: 40%;
    /* margin: auto; */
    /* border: 1px solid #73AD21; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.list_box{
    /* background-color: #f5f5f5; */
    /* border: 1px solid #cb2525; */
    margin : auto;
    padding: 2%;
    /* flex: 1 1 auto; */
}

.presence{
    max-width: 20%;
    /* background-color: #cb2525; */
    text-align: center;
    padding: 4%;
    margin-top: -2px;
    font-weight: bold;
    margin-left: -60%;
    /* border: 1px solid #234; */

}

.checkbox_box{
    max-width: 100%;
    margin-top: 9px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    /* position: relative; */
    /* background-color: aquamarine; */
    /* background-color: aqua; */
}

.table__checkbox{
    /* box-sizing: border-box; */
    /* padding:1px; */
    margin: 14px 30%;
    /* flex-basis: 25%; */
    /* flex:1; */
}

.form:nth-child(even){
    background-color: #e5e5e5;
}
.table__row:nth-child(even){
    background-color: #e5e5e5;
}

.table__header{
    text-align: center;
}

.table__cell {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
